:root {
  /* Updated with JS */
  --editor-padding-top: 20px;
  --editor-padding-bottom: 12px;
  --editor-padding-left: 16px;
  --editor-margin-width: 50px;
  --editor-margin-right-width: 12px;
  --editor-wrapper-height: 100vh;
  --editor-line-height: 22px;
  --editor-font-size: 16px;
  --editor-letter-spacing: .78px;
  --menuDrawerWidth: var(--menu-drawer-width--closed);
  /* *** */

  --menu-drawer-width--open: 250px;
  --menu-drawer-width--closed: 0px;

  --editor-header-height: 50px;

  --cta: rgb(61, 82, 216);
  --ctaSecondary: rgb(71, 81, 150);
  --ctaHover: rgb(67, 89, 235);

  --editor-bg: rgb(47, 47, 52);
  --editor-subdued: rgba(255, 255, 255, .25);
  --editor-lighter: rgb(50, 56, 67);
  --current-line-highlight: rgb(22, 22, 24);
  --carret: #ffefb4;

  --primary-text: rgb(246, 246, 248);
  --secondary-text: rgba(246, 246, 248, 0.75);

  --menu-border: rgb(25, 25, 25);
  --menu-border-light: rgb(40, 40, 40);
  --menu-border-lighter: rgb(65, 65, 65);
  --menu-highlight: rgb(220, 220, 220);
  --menu-bg: rgb(15, 15, 15);
  --menu-content-bg: rgb(25, 25, 25);

  --basic-transition-timing: .3s ease;
}