.documentListItem {
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.documentListItem__icon {
  border-radius: 1px;
  height: 16px;
  background: var(--menu-border-lighter);
  width: 12px;
  margin-right: 16px;
  position: relative;
  overflow: hidden;
}
.documentListItem__icon::after {
  content: '';
  position: absolute;
  top: -11px;
  right: -11px;
  width: 12px;
  height: 12px;
  background: var(--menu-bg);
  border: 2px solid var(--menu-bg);
  border-radius: 2px;
  transform: rotate(45deg)
}

.documentListItem__title {
  color: var(--primary-text);
  font-size: 16px;
}

.documentListItem:hover .documentListItem__icon {
  background: var(--menu-highlight);
}