.editorHeader {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--editor-bg);

  height: 100%;
  user-select: none;
  padding-right: var(--editor-padding-left)
}

.drawerButton {
  width: var(--editor-margin-width);
  display: flex;
  align-items: center;
  border: none;
  border-right: 1px solid var(--editor-lighter);
  outline: none;
  padding: 0 18px 0 12px;
  height: 100%;
  border-radius: 0px;
  cursor: pointer;
}
.drawerButton svg {
  transform: rotate(180deg);
}
.drawerButton.closed svg {
  transform: rotate(0deg) !important;
}

.drawerButton path,
.drawerButton rect {
  fill: #fff;
}

.title {
  margin-left: var(--editor-padding-left);
  color: #e4e4e4;
  font-size: 16px;
  font-weight: 700;
}

.renderMarkdownButton {
  margin-left: auto;
}
