.button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

.primary {
  background: var(--cta);
}
.primary:hover {
  background: var(--ctaHover);
}

.secondary {
  background: var(--ctaSecondary);
}
.secondary:hover {
  background: var(--ctaHover);
}