.editorHeader {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--editor-bg);

  height: 100%;
  user-select: none;
  padding-right: var(--editor-padding-left)
}

.drawerButton {
  width: var(--editor-margin-width);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-right: 1px solid rgba(230, 230, 230, 0.05);
  outline: none;
  height: 100%;
  border-radius: 0px;
  cursor: pointer;
}
.drawerButton svg {
  width: 20px;
  transform: rotate(180deg);
}
.drawerButton.closed svg {
  transform: rotate(0deg) !important;
}

.drawerButton path,
.drawerButton rect {
  fill: #fff;
}

.title {
  margin-left: var(--editor-padding-left);
  color: #e4e4e4;
  font-size: 16px;
  font-weight: 700;
}

.renderMarkdownButton {
  margin-left: auto;
}
