.markdownRenderer {
  padding: var(--editor-padding-top) calc(var(--editor-margin-width) + 50px);
  height: 100%;
  width: 100%;
  background: var(--editor-bg);
  color: #fff;
  font-size: 14px;
}

.markdownRenderer pre {
  background: #393d53;
  border-radius: 4px;
  padding: 4px 4px;
  margin: 12px 0;
}

.markdownRenderer ul,
.markdownRenderer ol {
  margin-left: 32px;
}


.markdownRenderer pre code {
  color: #fff;
}

.markdownRenderer code {
  color: #D7BB7D;
  border-radius: 4px;
  padding: 1px 4px;
}

.markdownRenderer h1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 6px;
  margin-bottom: 14px;
  margin-top: 20px;
}

.markdownRenderer h2 {
  margin-bottom: 10px;
  margin-top: 18px;
}

.markdownRenderer h3 {
  margin-bottom: 8px;
  margin-top: 16px;
}

.markdownRenderer h4 {
  margin-bottom: 8px;
  margin-top: 16px;
}

.markdownRenderer h5 {
  margin-bottom: 6px;
  margin-top: 16px;
}
