.markdownRendererHeader {
  background: var(--editor-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--editor-padding-left);
}

.drawerButton {
  width: var(--editor-margin-width);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-right: 1px solid transparent;
  outline: none;
  height: 100%;
  border-radius: 0px;
  cursor: pointer;
}
.drawerButton svg {
  width: 20px;
  transform: rotate(180deg);
}
.drawerButton.closed svg {
  transform: rotate(0deg) !important;
}

.drawerButton path,
.drawerButton rect {
  fill: #fff;
}