/* ######################
 * # Carret
 * #####################*/
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.carret {
  background: var(--carret);
  background: red;
  width: 1px;
  position: absolute;
  animation: blink-animation 1.75s steps(2, start) infinite;
  -webkit-animation: blink-animation 1.75s steps(2, start) infinite;
}

/* ######################
 * # Editor Renderer
 * #####################*/
.renderer {
  background: var(--editor-bg);
  color: #f6f6f6;
  padding: 24px;
  height: 100vh;
}

.rowsContainer {
  height: 100%;
  width: 100%;
  position: relative;
  white-space: pre;
}

.selectionHighlight {
  background: rgba(255,255,255,.2);
}

/* ######################
 * # Editor Input
 * #####################*/
.editorInput {
  white-space: nowrap;
  padding: 10px;
}

