.documentListItem {
  height: 40px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.documentListItem:hover .documentListItem__icon {
  background-color: var(--highlight);
}

.documentListItem__icon {
  border-radius: 1px;
  height: 18px;
  background: var(--editor-light);
  width: 13px;
  margin-right: 16px;
  position: relative;
}
.documentListItem__icon::after {
  content: '';
  position: absolute;
  top: -11px;
  right: -11px;
  width: 12px;
  height: 12px;
  background: var(--menu-bg);
  border: 2px solid var(--menu-bg);
  border-radius: 2px;
  transform: rotate(45deg)
}

.documentListItem__title {
  color: #fff;
}