/* *** */

.componentWrapper {
  width: 100%;
}

.container {
  height: var(--editor-wrapper-height);
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: var(--editor-margin-width) 1fr;
  align-items: stretch;
  justify-content: stretch;
  background: var(--editor-bg);
}

.editorWrapper {
  position: relative;
  display: flex;
  width: calc(100vw - var(--editor-margin-width));
}


.textInput {
  position: absolute;
  z-index: 100000;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  line-height: var(--editor-line-height);
  padding-top: var(--editor-padding-top);
  padding-bottom: var(--editor-padding-bottom);
  padding-left: var(--editor-padding-left);

  font-size: var(--editor-font-size);
  letter-spacing: var(--editor-letter-spacing) !important;
  color: transparent;

  background: transparent;

  overflow-x: auto;
  overflow-y: hidden;

  /** For no wrap **/
  white-space: pre;
  overflow-wrap: normal;
  /** * **/

  /* color: red; */
  caret-color: rgba(248, 245, 51, .9);
  resize: none;
  outline: none;
  border: none;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.textInput::-webkit-scrollbar {
  display: none;
}

.editorView {
  position: relative;
  z-index: 9;

  width: 100%;
  height: 100%;

  line-height: var(--editor-line-height);
  padding-top: var(--editor-padding-top);
  padding-bottom: var(--editor-padding-bottom);
  padding-left: var(--editor-padding-left);

  font-size: var(--editor-font-size);
  letter-spacing: var(--editor-letter-spacing) !important;
  color: #fff;

  background: rgba(0, 0, 0, 0);

  overflow-x: auto;
  overflow-y: hidden;

  /*** For no wrap ***/
  white-space: pre;
  overflow-wrap: normal;
  /* * */

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.editorView::-webkit-scrollbar {
  display: none;
}

.editorViewLines {
  position: relative;

  z-index: 10;
}

.editorViewLines > * {
  height: var(--editor-line-height);
}

.editorViewLines code {
  white-space: pre !important;
}

/* *** */

.customScrollbar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: var(--editor-margin-width);
  width: calc(100vw - var(--editor-margin-width));
  height: 8px;
  border-radius: 8px;
  background-color: rgba(157, 165, 204, 0.5);
}

.currentLineHighlight {
  position: absolute;
  height: var(--editor-line-height);
  width: 100%;
  left: 0;
  background: var(--primary-bg);
}

.editorMargin {
  position: relative;
  background: transparent;
  margin: 0;
  border-right: 1px solid var(--editor-lighter);
}

.lineEnumeration {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: monospace;
  font-size: 10px;
  color: var(--editor-light);
  cursor: pointer;
}

/* *** */

.mdViewer {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  background: var(--editor-bg);
  color: #fff;
  padding: 32px;
  font-size: 14px;
  cursor: pointer;
}

.mdViewer pre {
  background: #393d53;
  border-radius: 4px;
  padding: 4px 4px;
  margin: 12px 0;
}

.mdViewer pre code {
  color: #fff;
}

.mdViewer code {
  color: #D7BB7D;
  border-radius: 4px;
  padding: 1px 4px;
}

.mdViewer h1 {
  border-bottom: 1px solid var(--editor-lighter);
  padding-bottom: 6px;
  margin-bottom: 14px;
  margin-top: 20px;
}

.mdViewer h2 {
  margin-bottom: 10px;
  margin-top: 18px;
}

.mdViewer h3 {
  margin-bottom: 8px;
  margin-top: 16px;
}

.mdViewer h4 {
  margin-bottom: 8px;
  margin-top: 16px;
}

.mdViewer h5 {
  margin-bottom: 6px;
  margin-top: 16px;
}

/* *** */

.editorBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 20px;
  border: none;
  outline: none;
  z-index: 30;
  cursor: pointer;
  border-radius: 4px;
  opacity: .5;
  background: #d4d4d4;
  color: rgba(0, 0, 0, .8);
}

.editorBtn:hover {
  opacity: 1;
}