.editorPlaceholder {
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  border: 2px solid var(--editor-light);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  background: var(--editor-bg);
}

.editorPlaceholder:hover {
  border-color: #ccc;
}

.editorPlaceholder:hover .editorPlaceholderRows > span,
.editorPlaceholder:hover .editorPlaceholderMargin > span {
  background: var(--editor-light);
}

.editorPlaceholderHeader {
  height: 10px;
  border-bottom: 1px solid var(--editor-lighter);
}

.editorPlaceholderMargin {
  width: 14px;
  border-right: 1px solid var(--editor-lighter);
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editorPlaceholderMargin > span {
  display: block;
  background: var(--editor-light-subdued);
  width: 2px;
  height: 2px;
  margin-bottom: 6px;
  border-radius: 1px;
}

.editorPlaceholderRows {
  flex-grow: 1;
  padding-top: 6px;
}

.editorPlaceholderRows {
  padding-top: 6px;
  padding-left: 6px;
}

.editorPlaceholderRows > span {
  display: block;
  background: var(--editor-light-subdued);
  width: 40px;
  height: 2px;
  margin-bottom: 6px;
  border-radius: 1px;
}

.title {
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 20px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #e4e4e4;
  text-align: center;
}