@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', 'Source Code Pro', monospace !important;
}

p {
  font-size: 16px;
  margin-bottom: 8px;
}

button {
  border: none;
  outline: none;
  border-radius: 4px;
}