.editorContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: var(--editor-header-height) calc(100vh - var(--editor-header-height));
  position: relative;
}

.menu {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
  overflow-y: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--menu-bg);
}

.menuSidebar {
  border-right: 1px solid var(--menu-subdued);
}

.menuDashboard {
  padding: 100px;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.dashboardDocumentCards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--dashboard-document-side-length));
  grid-gap: var(--dashboard-document-grid-gap);
}