:root {
  /* Updated with JS */
  --editor-line-height: 18px;
  --editor-padding-top: 12px;
  --editor-padding-bottom: 12px;
  --editor-padding-left: 16px;
  --editor-margin-width: 50px;
  --editor-margin-right-width: 12px;
  --editor-wrapper-height: 100vh;
  --editor-font-size: 13px;
  --editor-letter-spacing: .78px;
  /* *** */

  --editor-header-height: 50px;

  --editor-bg: #282B3D;
  --editor-light: rgba(108, 117, 172, 1);
  --editor-light-subdued: rgba(108, 117, 172, .4);
  --editor-lighter: rgba(108, 117, 172, .2);
  --highlight: #ffefb4;

  --primary-bg: #1B1D2B;
  --primary-text: #fff;

  /* Menu */
  --menu-subdued: #414141;
  --menu-bg: #212121;

  --dashboard-document-side-length: 150px;
  --dashboard-document-grid-gap: 80px;
  --editor-close-animation-time: .2s;
  --editor-close-animation-transition: height ease var(--editor-close-animation-time), width ease var(--editor-close-animation-time), top ease var(--editor-close-animation-time), left ease var(--editor-close-animation-time);

}