:root {
  /* Updated with JS */
  --editor-line-height: 18px;
  --editor-padding-top: 12px;
  --editor-padding-bottom: 12px;
  --editor-padding-left: 16px;
  --editor-margin-width: 50px;
  --editor-margin-right-width: 12px;
  /* *** */

  --editor-bg: #282B3D;
  --editor-light: rgba(108, 117, 172, 0.9);
  --editor-lighter: rgba(108, 117, 172, .2);


  --primary-bg: #1B1D2B;
  --primary-text: #fff;
}