.documentViewer {
  display: grid;
  width: 100vw;
  grid-template-columns: var(--menuDrawerWidth) calc(100vw - var(--menuDrawerWidth));
}
.documentViewer__editorContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: var(--editor-header-height) calc(100vh - var(--editor-header-height));
  position: relative;
}

