.markdownContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.markdownContainer__editButtonContainer {
  position: absolute;
  top: 7px;
  right: var(--editor-padding-left);
}
.markdownContainer__main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}