.markdownContainer {
  display: grid;
  width: 100vw;
  grid-template-columns: var(--menuDrawerWidth) calc(100vw - var(--menuDrawerWidth));
}

.markdownContainer__editButtonContainer {
  position: absolute;
  top: 7px;
  right: var(--editor-padding-left);
}
.markdownContainer__main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

.markdownContainer__markdownRenderer {
  display: grid;
  grid-template-rows: var(--editor-header-height) calc(100vh - var(--editor-header-height));
}